body {
  background-image: linear-gradient(to right, rgb(6, 11, 61) , rgb(39, 9, 52));
  margin: 0;
}
.leveldisplay {
  color: rgb(240, 202, 255);
  font-size: 30px;
  text-align: center;
  font-family: "Audiowide", sans-serif;
  text-shadow: 0 0 5px #cc1af8;
  margin-top: 25vh;
}

#messageBox {
  color: rgb(240, 202, 255);
  font-size: 25px;
  font-family: "Audiowide", sans-serif;
  text-shadow: 0 0 5px #cc1af8;
  width: 70%;
  margin: 200px auto 0; 
  text-align: center;
}

.howToPlay {
  display: none;
  color: white;
  width: 20%;
  font-family: "Raleway", sans-serif;
  text-shadow: 0 0 5px #cc1af8;
  font-size: 15px;
  
}
.infoTab {
  color: rgb(240, 202, 255);
  font-size: 23px;
  font-family: "Audiowide", sans-serif;
  text-shadow: 0 0 5px #cc1af8;
  cursor: pointer;
}
.infoTab:hover + .howToPlay {
  display: block;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 14vh;
  position: relative;
  left: 1%;
  
}
.btn {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
  border: none;
}
.btn:hover {
  opacity: 85%;
  cursor: pointer;
}

.unclickable {
  pointer-events: none;
}

.red {
  border: 8px solid #ff1500;
  background-color: #ff1500;
  box-shadow: 0 0 20px 5px rgba(255, 25, 0, 0.973),
    inset 0 0 20px 7px rgb(255, 0, 0);
}

.blue {
  border: 8px solid rgb(0, 68, 255);
  background-color: rgb(0, 68, 255);
  box-shadow: 0 0 20px 5px rgb(0, 68, 255), inset 0 0 20px 7px rgb(0, 68, 255);
}

.yellow {
  border: 8px solid yellow;
  background-color: yellow;
  box-shadow: 0 0 20px 5px rgb(238, 250, 76),
    inset 0 0 20px 7px rgba(243, 249, 80, 0.995);
}

.green {
  border: 8px solid #00ff14;
  background-color: #00ff14;
  box-shadow: 0 0 20px 5px rgba(0, 255, 20, 0.69),
    inset 0 0 20px 7px rgba(0, 255, 20, 0.69);
}

.purple {
     border: 8px solid #c28ef7;
   background-color: #c28ef7;
   box-shadow: 0 0 20px 5px #9e44f8,
     inset 0 0 20px 7px  #9e44f8;
 }
.inactive {
  opacity: 50%;
  background-color: transparent;
}
.playBtn {
  border: 5px solid #1086e8;
  width: 22%;
  border-radius: 20px;
  color: #ff00e6;
  font-family: "Raleway", sans-serif;
  font-size: 45px;
  letter-spacing: 10px;
  background-color: transparent;
  animation: border-flicker 2s linear infinite;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%); 
  top: 8vh;
}
.playBtn:hover {
  text-shadow: 0 0 15px #f81ae5;
  cursor: pointer;
  z-index: 2;
}
@media only screen and (max-width: 768px) {
  .container{
    margin-top: 10%;
  }
  .howToPlay{
    width: 95%;
    margin-left: 1vh;
  }
  .playBtn {
    width: 65%; 
    margin-top: 73vh;
    margin-left: 1vh;
    position: absolute;
  }
  #messageBox {
    width: 95%;
    text-align: center;
    margin-top: 15vh;
    font-size: 3vh;
  }
  .leveldisplay{
    text-align: center;
    margin-top: 73vh;
    
  }
  .infoTab{
    margin-top: -103vh;
    margin-left: 1vh;
    font-size: 1.5vh;
  }
  .red{
    margin-top: -135vh;
    margin-left: -14vh;
    height: 12vh;
    width: 12vh;
  }
  .green{
    margin-top: -108vh;
    margin-left: -43vh;
    height: 12vh;
    width: 12vh;
  }
  .yellow{
    margin-top: -108vh;
    margin-left: 1vh;
    height: 12vh;
    width: 12vh;
  }
  .blue{
    margin-top: -80vh;
    margin-left: -15vh;
    height: 12vh;
    width: 12vh;
  }
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .leveldisplay{
    text-align: center;
    margin-top: 6vh;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) { 
  
}


@keyframes border-flicker {
  0% {
    opacity: 0.1;
    box-shadow: 0px 0px 60px 4px rgba(16, 134, 232, 0.73),
      inset 0px 0px 30px 4px rgba(16, 134, 232, 0.73);
  }
  2% {
    opacity: 1;
    box-shadow: 0px 0px 60px 4px rgba(16, 134, 232, 0.73),
      inset 0px 0px 30px 4px rgba(16, 134, 232, 0.73);
  }
  4% {
    opacity: 0.1;
    box-shadow: 0px 0px 60px 4px rgba(16, 134, 232, 0.73),
      inset 0px 0px 30px 4px rgba(16, 134, 232, 0.73);
  }

  8% {
    opacity: 1;
    box-shadow: 0px 0px 60px 4px rgba(16, 134, 232, 0.73),
      inset 0px 0px 30px 4px rgba(16, 134, 232, 0.73);
  }
  70% {
    opacity: 0.7;
    box-shadow: 0px 0px 60px 4px rgba(16, 134, 232, 0.73),
      inset 0px 0px 30px 4px rgba(16, 134, 232, 0.73);
  }
  100% {
    opacity: 1;
    box-shadow: 0px 0px 60px 4px rgba(16, 134, 232, 0.73),
      inset 0px 0px 30px 4px rgba(16, 134, 232, 0.73);
  }
}
