body {
  background-color: rgb(40, 39, 39);
  color: white;
  text-align: center;
  margin-top: 300px;
}
.btn {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
  border: none;
}
.btn:hover {
  opacity: 85%;
}
.inactive {
  opacity: 35%;
}

.unclickable {
  pointer-events: none;
}
.red {
  background-color: #ff6256;
}

.blue {
  background-color: #3b71f8;
}

.yellow {
  background-color: #f9fb63;
}

.green {
  background-color: #22f052;
}
.leveldisplay {
  color: white;
}
